<div class="page">
  <h2>About</h2>
  <a href="#/menu">back</a>
  <div>
    <h3>Team</h3>
    <p>Developed by <a href="http://hyzhak.github.io">Eugene Krevenets (aka Hyzhak)</a></p>
    <img src="http://darlingjs.github.io/images/skateboard-128x128.jpg" width="128" height="128"/>
    <p>Art by <a href="http://burenkaz.daportfolio.com/">Alena Krevenets (aka Burenka)</a></p>
    <img src="http://fc01.deviantart.net/fs71/o/2011/170/0/9/09614e81b118671d83286b2bd477600e.jpg" height="128"/>
    <h3>Technology</h3>
    <ul>
      <li><a href="http://darlingjs.github.io">Darling.js</a></li>
      <li><a href="http://angularjs.org">Angular</a></li>
      <li><a href="https://github.com/kripken/box2d.js">Box2D (Emscripted)</a></li>
      <li><a href="https://github.com/GoodBoyDigital/pixi.js">Pixi.js</a></li>
      <li><a href="http://howlerjs.com">Howler.js</a></li>
    </ul>
  </div>
  <a href="#/menu">back</a>
</div>
