<div id="gameView" class="page">

  <canvas id="gameCanvas" class="gameCanvas background-image-size" style="cursor: default;">
  </canvas>

  <div id="gameUI" class="background-image-size">
    <div class="sound-button-in-game-placement">
      <button ng-click="soundSwitch()">sound {{soundStateSwitchTo}}</button>
      <button ng-click="pause()">pause {{paused}}</button>
    </div>

    <img src="img/left-arrow-active.png" width="48" height="48" ng-show="drivingLeft" class="left-driving-arrow"/>
    <img src="img/left-arrow.png" width="48" height="48" ng-hide="drivingLeft" class="left-driving-arrow"/>
    <img src="img/right-arrow-active.png" width="48" height="48" ng-show="drivingRight" class="right-driving-arrow"/>
    <img src="img/right-arrow.png" width="48" height="48" ng-hide="drivingRight" class="right-driving-arrow"/>

    <div class="menu-button-in-game-placement"><a href="#/menu/">menu</a></div>
    <div class="life-in-game-placement">Life: {{life}}</div>
    <div class="score-in-game-placement">Score: {{score}}</div>

    <div style="display: table; position: absolute" class="background-image-size">
      <div ng-switch="gameState" class="game-info-panel">
        <div ng-animate="'game-info'">
          <div ng-switch-when="preparing" class="game-info game-view-width">
            <h1>Instruction:</h1>
            <p>1. Just use Left/Right to ride the car.</p>
            <p>2. You need avoid the rain.</p>
            <div ng-show="loadProgress < 1">
              <p>Loading ... {{loadProgressInPercent}} %</p>
            </div>
            <div ng-show="loadProgress >= 1">
              <p>Press any key to play!</p>
            </div>
          </div>
          <div ng-switch-when="game-completed" class="game-info game-view-width">
            <h1>Level Complete</h1>
            <p>Got scores: {{score}}</p>
            <a href="#/menu">Map</a>
            <a>Publish results</a>
          </div>
          <div ng-switch-when="level-completed" class="game-info game-view-width" ng-controller="LevelFinishCtrl">
            <h1>Level Complete</h1>
            <p>Got scores: {{score}}</p>
            <div>
              <h2>Scoreboard</h2>
              <fb-scoreboard ask-to-login on-login="onLogin()"></fb-scoreboard>
              <div ng-hide="isLogin">
                <p>To store scores you need be login to game by Facebook account</p>
              </div>
            </div>
            <a href="#/menu">Menu</a>
            <a href="#/map">Map</a>
            <a href="#/game/{{levelId + 1}}">Next</a>
          </div>
          <div ng-switch-when="game-over" class="game-info game-view-width">
            <h1>Game Over</h1>
            <a href="#/game/{{urlToReplay}}">Try Again</a>
            <a href="#/map">Map</a>
            <a href="#/menu">Menu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>