body {
    margin: 0;
    padding: 0;
}

.scores {
    color: #ffffff;
    font-size: 10px;
    font-family: sans-serif;
}

.score-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.score-right {
    position: absolute;
    top: 20px;
    /*left: 315px;*/
    right: 20px;
}

.ui-elements {
    width: auto;
    /*position: absolute;
    top: 0;*/
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.game {
    overflow-x: hidden;
}