<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Hello World!</h1>
  <div class="center">
    <div id="gameView" class="page">
      <!--style="position: absolute;top: 0px;"-->

      <!--<canvas id="gameCanvas" style="cursor: default;" width="400" height="300"/>-->
      <div id="gameCanvas" class="gameCanvas background-image-size" style="background-color: #226600;">
      </div>


      <div id="gameUI">
        <div class="sound-button-in-game-placement">
          <button ng-click="soundSwitch()">s</button>
          <button ng-click="pause()">p</button>
        </div>
        <div class="menu-button-in-game-placement"><a href="#/menu/">menu</a></div>
        <div class="life-in-game-placement">Life: {{life}}</div>
        <div class="score-in-game-placement">Score: {{score}}</div>

        <div style="display: table;" class="background-image-size">
          <div ng-switch="gameState" class="game-info-panel">
            <div ng-switch-when="preparing" class="game-info game-view-width">
              <h1>Level Complete</h1>
              <p>Got scores: {{score}}</p>
              <a href="#/menu">Menu</a>
              <a href="#/map">Map</a>
              <a href="#/game/{{levelId + 1}}">Next</a>
              <a>Publish results</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>