body {
    margin: 0;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#gameView {
    position: relative;
    /*
    height: 480px;
    width: 640px;
    position:relative;
    */
    /*z-index: -100;*/
}

/* Desktop */
@media (min-width: 641px) {
    .header {
        text-align: center;
    }

    #gameCanvas {
        margin: 0 auto;
        width: 640px;
    }
    .desktop {
        visibility: visible;
    }
    .center {
        /*width: 640px;*/
        margin: 0 auto;
    }
    .add-a-little-space-up-and-down {
        margin-bottom: 32px;
        margin-top: 32px;
    }

    .game-view-width {
        width: 640px;
    }

    .background-image-size {
        width: 640px;
        height: 480px;
    }

    .page-content {
        margin-top: -480px;
        height: 480px;
    }

    .menu-button-in-game-placement {
        position: absolute;
        top: 4px;
        left: 100px;
    }

    .life-in-game-placement {
        position: absolute;
        top: 4px;
        left: 160px;
    }

    .score-in-game-placement {
        position: absolute;
        top: 4px;
        right: 65px;
    }

    .sound-button-in-game-placement {
        position: absolute;
        top: 4px;
        right: 4px;
        /* margin-top: -40px */
    }

    .game-info-panel {
        display: table-cell;
        vertical-align: middle;
        position: static;
    }

    #gameUI {
        margin-top: -480px;
        width: 640px;
        height: 480px;
    }
}

/* Mobile */
@media (max-width: 641px) {

    .header {
        margin: 16px;
    }

    .center {
        margin: 0 auto;
        /*
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        /*text-align: center;*/
    }

    #gameCanvas {

        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        /*
        -webkit-transform: rotate(0.25turn);
        -moz-transform: rotate(0.25turn);
        transform: rotate(0.25turn);
        */
    }
    #gameUI {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 400px;height: 300px;
    }
    .desktop {
        visibility: hidden;
    }
    body {
        overflow-x: hidden;
    }
    .game-view-width {
        width: 400px;
    }
    .background-image-size {
        width: 400px;
        height: 300px;
    }
    .page-content {
        margin-top: -300px;
        height: 300px;
    }

    .menu-button-in-game-placement {
        position: absolute;
        top: 4px;
        left: 100px;
        /*top: 20px;
        left: 100px;
        position: absolute;*/
    }

    .life-in-game-placement {
        position: absolute;
        top: 4px;
        left: 160px;
        /*
        top: 20px;
        left: 180px;
        position: absolute;
        */
    }

    .score-in-game-placement {
        position: absolute;
        top: 4px;
        right: 65px;
        /*
        top: 20px;
        left: 360px;
        position: absolute;
        */
    }

    .sound-button-in-game-placement {
        /*
        top: 50px;
        left: 60px;
        position: absolute;
        */
        position: absolute;
        top: 4px;
        right: 4px;
    }

    .game-info-panel {
        display: table-cell;
        vertical-align: middle;
        position: static;
        /*
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        margin: auto;
        */
    }
}

h1 {
    font-family: 'Lobster', cursive; font-weight: 400;
}

body {
    background-color: #0c0c0c;
    color: #f7f7f7;
    font-family: calibri;
}

a:link {
    color: #ff315f;
}

a:hover {
    color: #ff7597;
}

a:visited {
    color: #c8254b;
}

a:active {
    color: #ff537b;
}

.page {
    float: left;
}

.page-container {
    /*position:relative;
    width: 640px;*/
}

.page-enter, .page-leave {
    -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.5s;
    -moz-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.5s;
    -o-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.5s;
    transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.5s;
}

.page-enter, .page-leave, .page-enter-active, .page-leave-active {
    position:relative;
    margin-right: -100%;
    float: left;
}

.page-enter {
    left:100px;
    opacity: 0;
}

.page-enter-active {
    left: 0;
    opacity: 1;
}

.page-leave {
    left:0;
    opacity: 1;
}

.page-leave-active {
    left:-100px;
    opacity: 0;
}

.footer {
    clear: both;
}

.game-info {
    position:relative;
    float: left;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.game-info-enter, .game-info-leave, .game-info-enter-active, .game-info-leave-active {
    position:relative;
    margin-right: -300px;
    float: left;
}

.game-info-enter, .game-info-leave {
    -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.5s;
    -moz-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.5s;
    -o-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.5s;
    transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.5s;
}

.game-info-enter {
    position:relative;
    top:-100px;
    opacity: 0;
}

.game-info-enter-active {
    position:relative;
    top:0;
    opacity: 1;
}

.game-info-leave {
    position:relative;
    top:0;
    opacity: 1;
}

.game-info-leave-active {
    position:relative;
    top:100px;
    opacity: 0;
}

.level-badge {
    text-align: center;
}

.level-selector {
    float: left;
    list-style: none;
    width: 80px;
}