canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

/* Desktop */
@media (min-width: 641px) {
    .desktop {
        visibility: visible;
    }
    #gameView {
        height: 480px;
        width: 640px;
        position:relative;
    }
    .center {
        /*margin-left: -25%;*/
        padding-left: 25%;
        /*text-align: center;*/
    }
    .add-a-little-space-up-and-down {
        margin-bottom: 32px;
        margin-top: 32px;
    }
}

/* Mobile */
@media (max-width: 641px) {
    canvas {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        /*
        -webkit-transform: rotate(0.25turn);
        -moz-transform: rotate(0.25turn);
        transform: rotate(0.25turn);
        */
    }
    .desktop {
        visibility: hidden;
    }
    body {
        overflow: hidden;
    }
}

h1 {
    font-family: 'Lobster', cursive; font-weight: 400;
}

body {
    background-color: #0c0c0c;
    color: #f7f7f7;
    font-family: calibri;
}

a:link {
    color: #ff315f;
}

a:hover {
    color: #ff537b;
}

a:visited {
    color: #c8254b;
}

a:active {
    color: #ff537b;
}